body {color: #000 !important; font-weight: 400;}
.nav-tabs>li>a {color: #000;}
.table {color: #000;}
.form-control, .panel-heading .panel-title {color: #000; font-weight: 400 !important;}
.form-horizontal label.control-label { font-weight: bold;}
label {font-weight:800 !important;}
legend {font-weight:800;}
.iTemplate {display:none !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option[aria-selected=true] {color: #000 !important;}
.text-center {text-align: center;}
.panel-detail{border:1px solid #d8d8d8}.panel-detail .panel-body{padding:20px;}
.pad0 {padding:0px !important;} .padt10 {padding-top: 10px;} .mar0 {margin:0px !important;} .marb0 {margin-bottom:0px !important;}
.padlr5 {padding: 0 5px !important;} .padl0 {padding-left: 0 !important;} .padr0 {padding-right: 0 !important} .padlr0 {padding-left: 0; padding-right: 0;}
.padr25 {padding-right: 25px !important;}
.marlr5 {margin: 0 5px !important;}
.mart20 {margin-top: 20px !important;}.mart27 {margin-top: 27px;}
.bold {font-weight: bold !important;}

.w100 {width: 100% !important;}

.select2-selection__clear {display: none;}
a.red-nav {
    color: #fff !important;
    background-color: #ff5b4d;
    border-color: transparent;
    border-radius: 0px !important;
}
.itemvoid{
	background-color: #ffbcc5 !important;
}
.modal-backdrop.in{
  display: none;
}

a.red-nav:hover {
    background-color: #f44336 !important;
}
.col-condition {
  
  top: 30px;
}

.panel-detail { border: 1px solid #d8d8d8; }
.panel-detail .panel-body { padding: 20px; }
.panel-close { margin-bottom: 15px; }
.panel-close .panel-body { padding: 5px 20px 20px; }

a.btn {text-decoration: none;}

.pagination-wrapper .pagination-btn.btn.disabled {
	color: #c7c7c7;
    background-color: #848484;
    border-color: #7b7b7b;
    cursor: no-drop !important;
}
.sk-folding-cube {
  z-index: 20;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 170px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
/*# sourceMappingURL=custom.css.map */